<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue.js"></script>
	</head>
	<body>
		<div id="box">
			<input type="color" v-model="bg"/>
			<input type="number" v-model="width"/>
			<input type="number" v-model="height"/>
			<div class="color" v-bind:style="{width:width+'px',height:height+'px',background:bg}">aaaa</div> 											
		</div>
		<script>
			var app = new Vue({
						el:"#box",
						data:{
							width:200,
							height:200,
//							background:"#ccc"
							r:0,
							g:0,
							b:0,
							bg:'#ccc'
						},
		})
		</script>
		
	</body>
</html>
